<ion-header no-border>
    <ion-navbar>
        <ion-buttons end *ngIf="showSkip">
            <button ion-button (click)="startApp()" color="primary">Skip</button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content no-bounce>
    <ion-slides #slides (ionSlideWillChange)="onSlideChangeStart($event)" pager>

        <ion-slide>
            <img src="assets/img/ica-slidebox-img-1.png" class="slide-image" />
            <h2 class="slide-title">
                Welcome to <b>ICA</b>
            </h2>
            <p>
                The <b>ionic conference app</b> is a practical preview of the ionic framework in action, and a demonstration of proper code use.
            </p>
        </ion-slide>

        <ion-slide>
            <img src="assets/img/ica-slidebox-img-2.png" class="slide-image" />
            <h2 class="slide-title">What is Ionic?</h2>
            <p><b>Ionic Framework</b> is an open source SDK that enables developers to build high quality mobile apps with web technologies like HTML, CSS, and JavaScript.</p>
        </ion-slide>

        <ion-slide>
            <img src="assets/img/ica-slidebox-img-3.png" class="slide-image" />
            <h2 class="slide-title">What is Ionic Pro?</h2>
            <p><b>Ionic Pro</b> is a powerful set of services and features built on top of Ionic Framework that brings a totally new level of app development agility to mobile dev teams.</p>
        </ion-slide>

        <ion-slide>
            <img src="assets/img/ica-slidebox-img-4.png" class="slide-image" />
            <h2 class="slide-title">Ready to Play?</h2>
            <button ion-button icon-end large clear (click)="startApp()">
              Continue
              <ion-icon name="arrow-forward"></ion-icon>
            </button>
        </ion-slide>

    </ion-slides>
</ion-content>